@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hemen Kayıt Ol</h1>
    <p>
    <a asp-controller="Gym" asp-action="Apply" class="btn btn-primary btn-lg">Kayıt Ol</a>
    </p>
</div>
